{% extends 'help/tips/base.html' %}
{% block tip-content %}
<div class="tabs">
<ul id="tabs" class="tabs-index box-h-tabs h-tabs">
  <li class="active"><a data-toggle="tab" data-target="#step-by-step">Step-by-Step</a></li>
  <li><a data-toggle="tab" data-target="#howto">How To</a></li>
  <li><a data-toggle="tab" data-target="#blocks">Blocks</a></li>
</ul>
</div>

<div class="accordion tip-homescreen" id="tip-accordion">
  <div class="tab-pane active" id="step-by-step">
    <p>Follow these tutorials to get started with your project.</p>
    
    <div class="accordion-group block-1">
      <a href="../howto/get-started-intro/">
        <img src="{{ STATIC_URL }}/images/help/nav-get-started.jpg" />
        Getting Started with Scratch
      </a>
    </div>

  <div class="accordion-group block-2">
      <a href="../howto/nametip-intro/">
        <img src="{{ STATIC_URL }}/images/help/nav-nametip.jpg" />
        Animate A Name
      </a>
    </div>

	<div class="accordion-group block-3">
    	<a href="../howto/music-intro/">
    		<img src="{{ STATIC_URL }}/images/help/nav-music.png" />
        	Make Music
		</a>
	</div>
	
	<div class="accordion-group block-4">
		<a href="../howto/fly-intro/">
   			<img src="{{ STATIC_URL }}/images/help/nav-fly.png" />
        	Make It Fly
   		</a>    
    </div>
	
	<div class="accordion-group block-5"> 
    	 <a href="../howto/pgame-intro/">
        <img src="{{ STATIC_URL }}/images/help/nav-pgame.jpg" />
        Create a Pong Game
      </a>  
     </div>

	<div class="accordion-group block-6">
 		<a href="../howto/racegame-intro/">
    		<img src="{{ STATIC_URL }}/images/help/nav-racegame.png" />
        	Race to the Finish
      	</a>
  </div>

 <div class="accordion-group block-7">
      <a href="../howto/hide-intro/">
    	<img src="{{ STATIC_URL }}/images/help/nav-hide.png" />
        Hide-and-Seek Game
      </a>
    </div>
 
 	<div class="accordion-group block-8">  
		<a href="../howto/story-intro/">
        	<img src="{{ STATIC_URL }}/images/help/nav-story.jpg" />
        	Create a Story
		</a>
	</div>

            
	<div class="accordion-group block-9">
      <a href="../howto/dance-intro/">
        <img src="{{ STATIC_URL }}/images/help/nav-dance.jpg" />
        Let's Dance      
      </a>
   </div>
   
	 <div class="accordion-group block-10">
      	<a href="../howto/fashion-intro/">
        <img src="{{ STATIC_URL }}/images/help/nav-fashion.png" />
        Fashion Game
    </a>
  </div>
  
    
    <div class="accordion-group block-11">
 	  <a href="../howto/catch-intro/">
    	<img src="{{ STATIC_URL }}/images/help/nav-catch.png" />
        Catch Game 
	  </a>
    </div>

	<div class="accordion-group block-12"> 
      <a href="../howto/vptip-intro/">
        <img src="{{ STATIC_URL }}/images/help/nav-vpet.jpg" />
        Create a Virtual Pet
      </a>
	</div>
      
      
    <div class="accordion-group block-13">
     <a href="../howto/bdaycard-intro/">
        <img src="{{ STATIC_URL }}/images/help/nav-bdaycard.png" />
        Make a Birthday Card
      </a>
    </div>
</div> 
       


  <div class="tab-pane" id="howto">
    <p>Learn more about how to make specific things for your project.</p>
    <div class="accordion-group block-11 effects">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-11">
        Effects
      </h3>
      <div id="collapse-11" class="accordion-body collapse"><div class="inner">
        <a href="../howto/play-with-effects">Play with effects</a><br/>
        <a href="../howto/interactive-effects">Create interactive effects</a><br/>
        <a href="../howto/interact-microphone">Interact with a microphone</a>
      </div></div>
    </div>
    <div class="accordion-group block-12 animation">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-12">
        Animation
      </h3>
      <div id="collapse-12" class="accordion-body collapse"><div class="inner">
        <a href="../howto/switch-happy">Switch from happy to sad</a><br/>
        <a href="../howto/talking-sprite">Make a sprite talk</a><br/>
        <a href="../howto/walking">Make a sprite walk</a><br/>
      </div></div>
    </div>
    <div class="accordion-group block-13 games">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-13">
        Games
      </h3>
      <div id="collapse-13" class="accordion-body collapse"><div class="inner">
        <a href="../howto/move-with-arrow-keys">Use arrow keys to move</a><br/>
        <a href="../howto/bounce-around">Bounce around</a><br/>
        <a href="../howto/collide">Collide</a><br/>
        <a href="../howto/keep-score">Keep score</a><br/>
        <a href="../howto/soccer">Soccer remix tips</a><br/>
  </div></div>
    </div>
    <div class="accordion-group block-14 stories">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-14">
        Stories
      </h3>
      <div id="collapse-14" class="accordion-body collapse"><div class="inner">
        <a href="../howto/conversation">Talk to each other</a><br/>
        <a href="../howto/glide-stage">Glide off the stage</a><br/>
        <a href="../howto/switch-backdrop">Switch backdrops</a><br/>
      </div></div>
    </div>
    <div class="accordion-group block-15 music">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-15">
        Music
      </h3>
      <div id="collapse-15" class="accordion-body collapse"><div class="inner">
        <a href="../howto/play-instrument">Play an instrument</a><br/>
        <a href="../howto/play-music">Play background music</a><br/>
        <a href="../howto/import-music">Import your music</a><br/>
        <a href="../howto/record-sounds">Record sounds</a><br/>
        <a href="../howto/edit-sounds">Edit sounds</a><br/>
      </div></div>
    </div>
  </div>

  <div class="tab-pane" id="blocks">
    <p>
      Dig deeper here to find out more about each block,
      or use the ? button in the editor to click on individual blocks to learn more.
    </p>
    <div class="accordion-group block-21 motion">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-21">
          Motion
      </h3>
      <div id="collapse-21" class="accordion-body collapse"><div class="inner">
        <a href="../blocks/move-steps/">move _ steps</a><br/>
        <a href="../blocks/turn-right/">turn right</a><br/>
        <a href="../blocks/turn-left/">turn left</a><br/>
        <a href="../blocks/point-direction/">point in direction</a><br/>
        <a href="../blocks/point-towards/">point towards</a><br/>
        <a href="../blocks/go-to-xy/">go to x: y:</a> <br/>
        <a href="../blocks/go-to/">go to </a><br/>
        <a href="../blocks/glide/">glide _ secs to x: y:<br/>
        <a href="../blocks/change-x/">change x by </a><br/>
        <a href="../blocks/set-x/">set x to</a><br/>
        <a href="../blocks/change-y/">change y by </a><br/>
        <a href="../blocks/set-y/">set y to</a><br/>
        <a href="../blocks/if-on-edge-bounce/">if on edge, bounce</a><br/>
        <a href="../blocks/setrotation/">set rotation style</a><br/>
        <a href="../blocks/x-position/">x position</a><br/>
        <a href="../blocks/y-position/">y position</a><br/>
        <a href="../blocks/direction/">direction</a></p>
      </div></div>
    </div>
    <div class="accordion-group block-22 looks">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-22">
        Looks
      </h3>
      <div id="collapse-22" class="accordion-body collapse"><div class="inner">
        <a href="../blocks/say-for-seconds/">say for _ secs</a><br/>
        <a href="../blocks/say/">say</a><br/>
        <a href="../blocks/think-for-seconds/">think for _ secs</a><br/>
        <a href="../blocks/think/">think</a><br/>
        <a href="../blocks/show/">show</a><br/>
        <a href="../blocks/hide/">hide</a><br/>
        <a href="../blocks/switch-costume/">switch costume to</a><br/>
        <a href="../blocks/next-costume/">next costume</a><br/>
        <a href="../blocks/nextbackdrop/">next backdrop (Stage only)</a><br/>
        <a href="../blocks/switch-backdrop/">switch backdrop to</a><br/>
        <a href="../blocks/switch-backdrop-and-wait/">switch backdrop and wait (Stage only)</a><br/>
        <a href="../blocks/change-effect/">change  effect to</a><br/>
        <a href="../blocks/set-effect/">set effect to</a><br/>
        <a href="../blocks/clear-graphic-effects/">clear graphic effects</a><br/>
        <a href="../blocks/change-size/">change size by</a><br/>
        <a href="../blocks/set-size/">set size to</a><br/>
        <a href="../blocks/go-to-front/">go to front</a><br/>
        <a href="../blocks/go-back-layer">go back _ layers</a><br/>
        <a href="../blocks/costume-number">costume #</a><br/>
        <a href="../blocks/backdrop-name">backdrop name</a><br/>
        <a href="../blocks/backdrop-number">backdrop # (Stage only)</a><br/>
        <a href="../blocks/size">size</a>
      </div></div>
    </div>
    <div class="accordion-group block-23 sound">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-23">
        Sound
      </h3>
      <div id="collapse-23" class="accordion-body collapse"><div class="inner">
        <a href="../blocks/playsound/">play sound _</a> <br/>
        <a href="../blocks/playsound_untildone/">play sound _ until done</a> <br/>
        <a href="../blocks/stopsound/">stop all sounds</a> <br/>
        <a href="../blocks/play_drum/">play drum _ for _ beats</a> <br/>
        <a href="../blocks/rest/">rest for _ beats</a> <br/>
        <a href="../blocks/playnote/">play note _ for _ beats</a> <br/>
        <a href="../blocks/setinstrument/">set instrument to _</a> <br/>
        <a href="../blocks/change-volume/">change volume by _</a> <br/>
        <a href="../blocks/set-volume/">set volume to _%</a> <br/>
        <a href="../blocks/change-tempo/">change tempo by _</a> <br/>
        <a href="../blocks/set-tempo/">set tempo to _ bpm</a> <br/>
        <a href="../blocks/tempo/">tempo</a> <br/>
        <a href="../blocks/volume/">volume</a> <br/>
      </div></div>
    </div>
    <div class="accordion-group block-24 pen">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-24">
        Pen
      </h3>
      <div id="collapse-24" class="accordion-body collapse"><div class="inner">
        <a href="../blocks/clear/">clear</a> <br/>
        <a href="../blocks/stamp/">stamp</a> <br/>
        <a href="../blocks/pendown/">pen down</a> <br/>
        <a href="../blocks/penup/">pen up</a> <br/>
        <a href="../blocks/setpencolor/">set pen color to [color]</a> <br/>
        <a href="../blocks/changecolor/">change pen color by _</a> <br/>
        <a href="../blocks/setpencolorto/">set pen color to [number]</a> <br/>
        <a href="../blocks/changeshadeby/">change pen shade by _</a> <br/>
        <a href="../blocks/setshade/">set pen shade to _</a> <br/>
        <a href="../blocks/changepensize/">change pen size by _</a> <br/>
        <a href="../blocks/setpensize/">set pen size to _</a> <br/>
      </div></div>
    </div>
    <div class="accordion-group block-25 data">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-25">
        Data
      </h3>
    <div id="collapse-25" class="accordion-body collapse"><div class="inner">
        <a href="../blocks/make-a-variable/">Make a Variable</a><br/>
        <a href="../blocks/variable/">Variable</a><br/>
        <a href="../blocks/set-variable/">set _ to</a><br/>
        <a href="../blocks/change-variable/">change _ by</a><br/>
        <a href="../blocks/show-variable/">show variable</a><br/>
        <a href="../blocks/hide-variable/">hide variable</a><br/>
        <a href="../blocks/make-a-list/">Make a List</a><br/>
        <a href="../blocks/list/">List</a><br/>
        <a href="../blocks/add-to-list/">add _ to</a><br/>
        <a href="../blocks/delete-from-list/">delete _ of</a><br/>
        <a href="../blocks/insert-list/">insert _ at _ of</a><br/>
        <a href="../blocks/replace-list/">replace item _ of _ with</a><br/>
        <a href="../blocks/item-of-list/">item _ of</a><br/>
        <a href="../blocks/length-of-list/">length of</a><br/>
        <a href="../blocks/list-contains/">_ contains</a><br/>
        <a href="../blocks/show-list/">show list</a><br/>
        <a href="../blocks/hide-list/">hide list</a><br/>
      </div></div>
    </div>
    <div class="accordion-group block-26 events">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-26">
        Events
      </h3>
      <div id="collapse-26" class="accordion-body collapse"><div class="inner">
        <a href="../blocks/when-flag-clicked/">when green flag clicked</a><br/>
        <a href="../blocks/when-key-pressed/">when _ key pressed</a><br/>
        <a href="../blocks/when-this-sprite-clicked/">when this sprite clicked</a><br/>
        <a href="../blocks/when-backdrop-switches/">when backdrop switches to</a><br/>
        <a href="../blocks/when-loudness/">when _ > _</a><br/>
        <a href="../blocks/when-i-receive/">when I receive</a><br/>
        <a href="../blocks/broadcast/">broadcast </a><br/>
        <a href="../blocks/broadcast-wait/">broadcast _ and wait</a><br/>
      </div></div>
    </div>
    <div class="accordion-group block-27 control">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-27">
        Control
      </h3>
      <div id="collapse-27" class="accordion-body collapse"><div class="inner">
        <a href="../blocks/wait-secs">wait _ secs</a><br/>
        <a href="../blocks/repeat">repeat</a><br/>
        <a href="../blocks/forever">forever</a><br/>
        <a href="../blocks/if">if _ then</a><br/>
        <a href="../blocks/if-else">if _ then else</a><br/>
        <a href="../blocks/wait-until">wait until</a><br/>
        <a href="../blocks/repeat-until">repeat until</a><br/>
        <a href="../blocks/stop">stop</a><br/>
        <a href="../blocks/clone-startup">when I start as a clone</a><br/>
        <a href="../blocks/create-clone">create clone of</a><br/>
        <a href="../blocks/delete-this-clone">delete this clone</a><br/>
      </div></div>
    </div>
    <div class="accordion-group block-28 sensing">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-28">
        Sensing
      </h3>
      <div id="collapse-28" class="accordion-body collapse"><div class="inner">
        <a href="../blocks/touching">touching</a><br/>
        <a href="../blocks/touching-color">touching color</a><br/>
        <a href="../blocks/color-is-touching">color is touching</a><br/>
        <a href="../blocks/distance-to">distance to</a><br/>
        <a href="../blocks/ask-and-wait">ask _ and wait</a><br/>
        <a href="../blocks/answer">answer</a><br/>
        <a href="../blocks/key-pressed">key _ pressed?</a><br/>
        <a href="../blocks/mouse-down">mouse down?</a><br/>
        <a href="../blocks/mouse-x">mouse x</a><br/>
        <a href="../blocks/mouse-y">mouse y</a><br/>
        <a href="../blocks/loudness">loudness</a><br/>
        <a href="../blocks/video-motion">video _ on _</a><br/>
        <a href="../blocks/turn-video">turn video</a><br/>
        <a href="../blocks/set-video-transparency">set video transparency to</a><br/>
        <a href="../blocks/timer">timer</a><br/>
        <a href="../blocks/reset-timer">reset timer</a><br/>
        <a href="../blocks/getattribute">_ of _</a><br/>
        <a href="../blocks/current-time">current _</a><br/>
        <a href="../blocks/timestamp">days since 2000</a> <br/>
        <a href="../blocks/username">username</a><br/>
      </div></div>
    </div>
    <div class="accordion-group block-29 operators">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-29">
        Operators
      </h3>
      <div id="collapse-29" class="accordion-body collapse"><div class="inner">
        <a href="../blocks/add">+</a><br/>
        <a href="../blocks/subtract">-</a><br/>
        <a href="../blocks/multiply">*</a><br/>
        <a href="../blocks/divide">/</a><br/>
        <a href="../blocks/pick-random">pick random _ to _</a><br/>
        <a href="../blocks/less-than">&lt;</a><br/>
        <a href="../blocks/equal">=</a><br/>
        <a href="../blocks/greater-than">&gt;</a><br/>
        <a href="../blocks/and">and </a><br/>
        <a href="../blocks/or">or</a><br/>
        <a href="../blocks/not">not</a><br/>
        <a href="../blocks/join">join</a><br/>
        <a href="../blocks/letter-of">letter _ of </a><br/>
        <a href="../blocks/length-of">length of</a><br/>
        <a href="../blocks/mod">mod</a><br/>
        <a href="../blocks/round">round</a><br/>
        <a href="../blocks/computefunction">_ of _ </a><br/>
      </div></div>
    </div>
    <div class="accordion-group block-30 more">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-30">
        More Blocks
      </h3>
      <div id="collapse-30" class="accordion-body collapse"><div class="inner">
        <a href="../blocks/make-a-block">Make a Block</a> <br/>
        <a href="../blocks/add-an-extension">Add an Extension</a> <br/>
      </div></div>
    </div>
    <div class="accordion-group block-31 extensions">
      <h3 class="accordion-heading collapsed" data-toggle="collapse" data-parent="#tip-accordion" data-target="#collapse-31">
        Extensions
      </h3>
      <div id="collapse-31" class="accordion-body collapse"><div class="inner">
        <a href="ui/extensions">Extensions</a> <br/>
        <a href="ext/wedo1">LEGO WeDo 1.0</a> <br/>
        <a href="../howto/wedo2setup-intro">LEGO WeDo 2.0</a> <br/>
        <a href="ext/PicoBoard">PicoBoard</a> <br/>
      </div></div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
{% endblock %}

{% block js %}
<script type="javascript">
$(function(){
  $('#tabs a:first').tab('show');
});
</script>
{% endblock %}