# Databases
*.sqlite3
*.sqlite3-journal

# Compiled code
*.py[co]

# Local settings
# Copy local_settings.default.py to acquire it
/scratchr2/local_settings

# Locales
# Stored on another repo
/scratchr2/locale/
/scratchr2_translations/

# venv
lib/python3.13
lib64/
include/
bin/
pyvenv.cfg
