{# TODO: Get rid of placeholders #}

{% extends 'base.html' %}
{% load i18n %}

{% block css %}
    {{ block.super }}
	<link href="{{ STATIC_URL }}/css/pages/profile.css" rel="stylesheet"/>
	<link href="{{ STATIC_URL }}/css/pages/scratcher_promotion.css" rel="stylesheet"/>
	<link href="{{ STATIC_URL }}/css/modules/modal.css" rel="stylesheet"/>
{% endblock %}

{% block init_data %}
Scratch.INIT_DATA.PROFILE = {
  model: {
    id: 'test',
    userId: 0,
    username: 'test',
    thumbnail_url: '//uploads.scratch.mit.edu/users/avatars/default.png',
    comments_allowed: true
  },
  related_counts: {
  }
  
}  
Scratch.INIT_DATA.ADMIN_PANEL = {
  'adminURL': Scratch.ROOT_URL + '/users/test/admin/'
}
{% endblock init_data %}

{% block main-content %}
<div class="box" id="profile-data">
  <div class="box-head">
    <form id="profile-avatar" class="portrait">
      <div class="avatar">
      <a href="{% url profile_detail 'test' %}">
        <img src="//cdn2.scratch.mit.edu/get_image/user/default_60x60.png" width="55" height="55"/>
        <div class="loading-img s48"></div>
      </a>
      
        
      
    </div>
    </form>
    <div class="header-text">
      <h2>test</h2>
      <p class="profile-details">
      
      <span class="group">
        Test Profile
        <a id="scratcher-promotion">(★ Become a Scratcher!)</a>
        
      </span> 
      {% blocktrans with tDateLabel='0-0-0' tDate='forever' %}Joined <span title="{{ tDateLabel }}">{{ tDate }}</span> ago{% endblocktrans %}
      <span class="location">Far Far Away</span>
      </p>
    </div>
   
{% if user.is_authenticated %}
    <div id="follow-button" class="buttons">
      

<div class="follow-button button notfollowing blue" data-control="follow">
	<span class="follow text"><span class="icon-sm follower white"></span>Follow</span>
	<span class="unfollow text"><span class="icon-sm follower black"></span>Unfollow</span>
</div>


    </div>
{% endif %}
    
  </div>
  <div class="box-content" id="profile-box">
    <div class="action-bar">
      <div id="alert-view" class="">
      </div>
    </div>
    <div class="inner clearfix">
      <div class="user-content">
        <div id="user-details" class="about">
          <div class="loading-img s48"></div>
          <h3>{% trans 'About me' %}</h3>
          
            
              
              <div id="bio-readonly" class="read-only">
                <div class="viewport">
                  <p class="overview">I am a test profile hard-coded into this website. I do not really exist.</p>
                </div>
              </div>
            
          

          <h3>{% trans "What I'm working on" %}</h3>
          
          
          <div id="status-readonly" class="read-only">
            <div class="viewport">
              <p class="overview">Testing this website.</p>
            </div>
          </div>
          
          
        </div>

        
      </div>
        <div class="doing">
            <h3>{% trans "What I've been doing" %}</h3>
          <div id="activity-feed">
          </div>
        </div>
    </div>
  </div>
  <div class="footer">
  {% if user.is_authenticated %}
    <div class="action" id="report-this">
      <span class="text black" data-control="open-report">{% trans 'Report this profile' %}</span>
    </div>
  {% endif %}
   
  </div>
</div>
<div class="profile-box-footer-module" id="profile-box-footer">
</div>



{% trans 'Shared Projects' as sharedtext %}
{% include 'carousel/carousel.html' with title=sharedtext count=shared|length projects=shared id='shared' emptytext='test hasn\'t shared any projects' viewall='projects/' %}

{% trans 'Favorite Projects' as favoritestext %}
{% include 'carousel/carousel.html' with title=favoritestext projects=favorites id='favorites' emptytext='test hasn\'t favorited any projects' viewall='favorites/' %}

{% if galleriesfollowings > 0 %}
{% trans "Studios I'm Following" as galleriesfollowingstext %}
{% include 'carousel/carousel.html' with title=galleriesfollowingstext galleries=galleriesfollowings id='featured' viewall='studios_following/' %}
{% endif %}

{% if galleriescurating > 0 %}
{% trans "Studios I Curate" as galleriestext %}
{% include 'carousel/carousel.html' with title=galleriestext galleries=galleriescurating id='featured' viewall='studios/' %}
{% endif %}

{% trans 'Following' as followingstext %}
{% include 'carousel/carousel.html' with title=followingstext users=followings id='featured' emptytext='test isn\'t following anyone yet' viewall='following/' %}

{% if followers > 0 %}
{% trans 'Followers' as followerstext %}
{% include 'carousel/carousel.html' with title=followerstext users=followers id='featured' viewall='followers' %}
{% endif %}

<div class="box">
  <div class="box-head">
    <h4>{% trans 'Comments' %}</h4>
  </div>
  <div class="box-content">
    
    
    





<div id="comments">
  
  <div id="comment-form">
    
    
    
        <form id="main-post-form" class="comments-on" >
            <div class="control-group tooltip right">
                
                <textarea name="content" placeholder="{% trans 'Leave a comment' %}" data-control="modal-login"></textarea>
                
                <span id="comment-alert" class="hovertext error" data-control="error" data-content="comment-error"><span class="arrow"></span><span class="text"></span></span>
                <span class="small-text">{% blocktrans %}You have <span id="chars-left">500</span> characters left.{% endblocktrans %}</span>
            </div>
            <div class="control-group">
                <div class="button small" data-control="modal-login" data-parent-thread="" data-commentee-id=""><a href="#null">{% trans 'Post' %}</a></div>
            <div class="button small grey" data-control="cancel"><a href="#null">{% trans 'Cancel' %}</a></div>
                <span class="notification"></span>
            </div>
        </form>
        
    
    <div class="clearfix"></div>
  </div>
  <div>
    <ul class="comments" data-content="comments">
      <li id="comments-loading" class="top-level-reply"><span>{% trans 'Comments loading...' %}</span></li>
    </ul>
  </div>
</div>

    
  </div>
</div>

<div class="modal hide fade" data-backdrop="static" id="scratcher-promotion-modal"></div>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}/js/swfobject.js"></script>
<script src="{{ STATIC_URL }}/js/apps/project/scratch_app.js"</script>
<script>Scratch.profileHasFeatured = false</script>

<script>
  $(document).ready(function() {
    scratch.notifications.loadActivity($('#activity-feed'), {'friends': false, 'max': 6, 'actor': 'test'});
  });
    sessionStorage.setItem("explore_by", "creator")
    sessionStorage.removeItem("gallery_id")
</script>

<script type="text/template" id="template-collection-count">
  <%- count %>
</script>

<script type="text/template" id="template-comment-actions">
<% if (can_delete) { %>
  <% if (is_staff && comment_user == current_user) { %>
    <span data-control="delete" class="actions report">Delete</span>
  <% } else if (type != "gallery" || comment_user == current_user) { %>
    <span data-control="delete" class="actions report">Delete</span>
  <% } %>
<% } %>
<% if (current_user != comment_user) { %>
  <span data-control="report" class="actions report">
  <% if (student_of_educator) { %>
    Delete
  <% } else { %>
    Report
  <% } %></span>
<% } %>
</script>

<script type="text/template" id="template-modal-login">
<div class="modal hide fade in" id="login-dialog" style="width: 450px">
  <form method="post" action="/login/">
    <fieldset>
      <div class="modal-header">
        <a href="#" data-dismiss="modal" class="close">x
        </a>
        <h3>Login</h3>
      </div>
      <div class="modal-body">
        <div class="control-group">
        <label class="control-label" for="username">Username
          </label>
          <div class="controls">
            <input id="username" type="text" name="username" maxlength="30" />
          </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="password">Password
          </label>
          <div class="controls">
            <input type="password" name="password" id="password" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="error">
        </span>
        <span class="button primary" id="sign-in" data-control="site-login">
        <span>{% trans "Sign in" $}
          </span>
        </span>
      </div>
    </fieldset>
  </form>
</div>
</script>

<script type="text/template" id="template-comment-reply">
  <form>
    <div class="control-group tooltip right">
      <textarea name="content"></textarea>
      
      <span class="hovertext error" data-control="error" data-content="comment-error"><span class="arrow"></span><span class="text"></span></span>
      <span class="small-text">You have <span id="chars-left-<%- comment_id %>">500</span> characters left.</span>
    </div>
    <div class="control-group">
        <div class="button small" data-parent-thread="<%- thread_id %>" data-commentee-id="<%- commentee_id %>" data-control="modal-login"><a href="#null">Post</a></div>
        <div class="button small grey" data-control="cancel"><a href="#null">Cancel</a></div>
      <span class="notification"></span>
    </div>
  </form>
</script>

<script type="text/template" id="template-deletion-canceled">
<div class="deletion-canceled">
  <div class="form">
    <p>
    Your account was scheduled for deletion but you logged in. Your account has been reactivated. If you didn’t request for your account to be deleted, you should <a href="/accounts/password_change/">change your password</a> to make sure your account is secure. 
    </p>
  </div>
</div>
</script>

<script type="text/template" id="template-unsupported-browser">
  <div class="unsupported-browser banner" data-cue="unsupported_browser">
    <div class="container">
      <span>Scratch works best on newer browsers. We suggest you upgrade to <a href="/info/faq/#requirements">a supported browser</a>, <a href="/scratch2download/">download the offline editor</a>, <a href="https://en.scratch-wiki.info/wiki/List_of_Bug_Workarounds">or read about common workarounds</a>.</span>
      <div class="close">x</div>
    </div>
  </div>
</script>

<script type="text/template" id="template-unsupported-msie">
  <div class="unsupported-browser banner" data-cue="unsupported_browser">
    <div class="container">
      <span>Scratch will stop supporting Internet Explorer 8 on April 30, 2015. We suggest you upgrade to <a href="/info/faq/#requirements">a supported browser</a>, <a href="/scratch2download/">download the offline editor</a>, or <a href="https://en.scratch-wiki.info/wiki/List_of_Bug_Workarounds">read about common workarounds</a>.</span>
      <div class="close">x</div>
    </div>
  </div>
</script>



<script type="text/template" id="template-bio-status-content">
  
    <p></p>
  
</script>

<script type="text/template" id="template-project-collection">
  <% _.each(collection, function(project) { %>
    <li>
      <div class="project thumb" data-id="<%- project.id %>">
        <img src="<%- project.thumbnail_url %>">
        <span class="title">
          <a href="/projects/<%- project.id %>"><%- project.title %></a>
        </span>
      </div>
    </li>
  <% }); %>
</script>

<script type="text/template" id="template-modal-container">
  <div class="modal-header">
    <span class="close" data-dismiss="modal" aria-hidden="true">×</span>
    <h3 id="myModalLabel">My Shared Projects</h3>
    <div class="feature-label">
      <label for="feature-label">Label</label>
      <select name="feature-label">
        <option value="" selected="selected">Featured Project</option>
      
        <option value="0" >Featured Tutorial</option>
      
        <option value="1" >Work In Progress</option>
      
        <option value="2" >Remix This!</option>
      
        <option value="3" >My Favorite Things</option>
      
        <option value="4" >Why I Scratch</option>
      </select>
    </div>
  </div>
  <div data-content="modal-body" class="modal-body">
    
    <div class="empty-field">
      <h4><a href="/projects/editor/">Create a project</a> and share it</h4>
      <span>You don't have any shared projects to feature yet</span>
    </div>
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn blue btn-primary" data-control="save">OK</button>
  </div>
</div>
</script>

<script type="text/template" id="template-report">
  <div class="profile-report">
      Please choose the section of this user’s profile that you feel is disrespectful, inappropriate, or has otherwise broken the <a href="/community_guidelines" target="_blank">Scratch Community Guidelines.</a> 
    <br>
    <p class="errors">Please select the inappropriate part of the page.</p>
    <form class="form-horizontal" id='report_form'>
      <input type="radio" id='radio_username' name="report_value" value="username">Username</input>
      <br>
      <input type="radio" id='radio_icon' name="report_value" value="icon">Icon</input>
      <br>
      <input type="radio" id='radio_description' name="report_value" value="description">About Me</input>
      <br>
      <input type="radio" id='radio_working_on' name="report_value" value="working_on">What I'm Working On</input>
    </form>
    <div>
      Did this user make comments, projects, or studios that broke the Community Guidelines? Please click the “report” button on the individual comments, projects, or studios.
    </div>
  </div>
</script>

<script type="text/template" id="template-thanks">
<div class="profile-report">
  <div class="form">
    <div>Thank you. We have received your report. The Scratch Team will review this user based on the Scratch community guidelines.
    </div>
  </div>
</div>
</script>
{% endblock %}

{% block js2 %}
<script src="{{ STATIC_URL }}/js/lib/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}/js/lib/blueimp-jquery-file-upload/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}/js/lib/blueimp-jquery-file-upload/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}/js/apps/userprofile/main.js"></script>
<script src="{{ STATIC_URL }}/js/apps/userprofile/models.js"></script>
<script src="{{ STATIC_URL }}/js/apps/userprofile/views.js"></script>
<script src="{{ STATIC_URL }}/js/apps/userprofile/models/user-detail.js"></script>
{% endblock %}

{% block admin-content %}
<div class="special-status line"><strong>Status</strong>: New User, Moderator, Administrator, Curator</div>
<div class="status fe">Active</div>
<div class="status censored">Banned</div>
<div class="status censored">Banned from frontpage</div>
<div class="status censored">Deleted</div>
<form> 
  <h4>Account status</h4>
  <div class="control-group">
    <label class="radio">
      <input type="radio" name="review-status" checked>Active
    </label>
    <label class="radio">
      <input type="radio" name="review-status">Banned
    </label>
    <label class="radio">
      <input type="radio" name="review-status">Banned from frontpage
    </label>
    <label class="radio">
      <input type="radio" name="review-status">Deleted
    </label>
  </div>
  <p class="control-group">Last reviewed by: N/A</p>
</form>

<h4>Past notifications</h4>
<div>3/24</div>

<h4>IP history</h4>
<div class="ip-list">
  <div class="line">
    <span class="ip">216.27.61.137</span>
    <span class="date">3 days ago</span>
    <span class="button small grey"><span>Ban</span></span>
  </div>
  <div class="line">
    <span class="ip">216.27.61.137</span>
    <span class="date">3 days ago</span>
    <span class="button small grey"><span>Ban</span></span>
  </div>

</div>

<h4>Permissions</h4>
<form>
  <label class="checkbox">
    <input type="checkbox" name="censor-projects">Censor Projects
  </label>
  <label class="checkbox">
    <input type="checkbox" name="censor-galleries">Censor Galleries 
  </label>
  <label class="checkbox">
    <input type="checkbox" name="set-project-status">Set project as FE or NFE
  </label>
  <label class="checkbox">
    <input type="checkbox" name="set-gallery-status">Set gallery as FE or NFE
  </label>
  <label class="checkbox">
    <input type="checkbox" name="feature-projects">Feature projects
  </label>
  <label class="checkbox">
    <input type="checkbox" name="feature-galleries">Feature galleries
  </label>
  <label class="checkbox">
    <input type="checkbox" name="delete-project-comments">Delete project comments
  </label>
  <label class="checkbox">
    <input type="checkbox" name="delete-gallery-comments">Delete gallery comments
  </label>
  <label class="checkbox">
    <input type="checkbox" name="block-ip">Block IP
  </label>
  <label class="checkbox">
    <input type="checkbox" name="block-account">Block account
  </label>
  <label class="checkbox">
    <input type="checkbox" name="censor-projects">Censor Projects
  </label>
</form>

<h4>Comments</h4>
<span>Show Deleted</span>

<h4>Details</h4>
<span class="line"><strong>Gender:</strong> Male</span>
<span class="line"><strong>Age:</strong> 14</span>
<span class="line"><strong>Sign up:</strong> 2011-12-30 03:05:53 (46.254.70.208)</span>
{% endblock %}