{# TODO: Make it become a scratcher #}
{% load i18n %}

<!-- templates/modal-registration.html block -->
<div id="scratcher-promotion-wrapper">
  <div class="modal-header">
	  <a href="#" data-dismiss="modal" class="close" style="">x</a>
    <h3>{% trans 'Join Scratch' %}</h3>
  </div>
  
  
  <div id="step" class="modal-body" style="display:block">
	  <div class="page-header">
            <h4>{% trans "It's easy (and free!) to sign up for a Scratch account." %}</h4>
        </div>
    <ul class="progress">
		<li class="first">1</li>
		<li class="">2</li>
		<li class="">3</li>
		<li class="">4</li>
		<li class="">5</li>
		<li class="last">6</li>
	</ul>
  </div>
</div>
<!-- end templates/modal-registration.html -->