{% load i18n %}

	    <div class="modal hide fade in" id="login-dialog" style="width: 450px">
        <form method="post" action="/scratchr2/login/">
          <fieldset>
            <div class="modal-header">
              <a href="#" data-dismiss="modal" class="close">x
              </a>
	      <h3>Sign in</h3>
            </div>
            <div class="modal-body">
            
              <div class="control-group">
		      <label class="control-label" for="username">{% trans 'Username' %}
                </label>
                <div class="controls">
                  <input class="username" type="text" name="username" maxlength="30"/>
                </div>
              </div>
              <div class="control-group">
		            <label class="control-label" for="password">{% trans 'Password' %}
                </label>
                <div class="controls">
                  <input type="password" name="password" class="password"/>
                </div>
              </div>
              
            </div>
            <div class="modal-footer">
              <span class="error">
              </span>
              <div class="buttons-right">
                <button class="button primary" type="submit">{% trans 'Sign in' %}</button> 
                
		<a data-control="registration">{% trans 'Or Join Scratch' %}</a>
                
              </div>
            </div>
           
          </fieldset>
        </form>
        <iframe class="iframeshim" frameborder="0" scrolling="no"><html><head></head><body></body></html></iframe>
      </div>