
<!-- templates/comments/list.html -->


    <li class="top-level-reply">
        












<div id="comments-1" class="comment " data-comment-id="1">
  <div class="actions-wrap">
  
  </div>
  <a href="/scratchr2/users/test" id="comment-user" data-comment-user="test"><img class="avatar" src="//cdn2.scratch.mit.edu/get_image/user/default_60x60.png" width="45" height="45"/></a>
  <div class="info">
    <div class="name">
      <a href="/scratchr2/users/test">test</a>
    </div>
    <div class="content">
      
      
        This is a test comment. It is hard-coded into the site-api.
      
    </div>
    <div>
      <span class="time" title="2001-11-09T00:00:00Z">Never</span>
      
        
        
        <a class='reply' style="display: none;" data-comment-id="1" data-parent-thread="1" data-commentee-id="1" data-control="modal-login">
            <span>Reply</span>
        </a>
        
      
    </div>
    <div data-content="reply-form"></div>
  </div>
</div>




        
            <ul class="replies" data-thread="1">
                
                    <li class="reply last">
                        












<div id="comments-2" class="comment " data-comment-id="2">
  <div class="actions-wrap">
  
  </div>
  <a href="/scratchr2/users/test" id="comment-user" data-comment-user="test"><img class="avatar" src="//cdn2.scratch.mit.edu/get_image/user/default_60x60.png" width="45" height="45"/></a>
  <div class="info">
    <div class="name">
      <a href="/scratchr2/users/test">test</a>
    </div>
    <div class="content">
      
       <a href="/scratchr2/users/test">@test</a>
      
      
        This is a test reply. It also is hard-coded into the site-api.
      
    </div>
    <div>
      <span class="time" title="2001-11-09T00:00:00Z">Never</span>
      
        
        
        <a class='reply' style="display: none;" data-comment-id="339566338" data-parent-thread="337653774" data-commentee-id="117874090" data-control="modal-login">
            <span>Reply</span>
        </a>
        
      
    </div>
    <div data-content="reply-form"></div>
  </div>
</div>




                    </li>
                
            </ul>
            
        
    </li>

<!-- end templates/comments/list.html -->
