{% load i18n %}

{# URLTODO: project #}
<!-- templates/carousel/project-thumb.html -->
<li class="project thumb item">
  <a href="{{ settings.ROOT_URL }}/projects/{{ project.pk }}/">
    <img class="lazy image" data-original="{{ project.fields.thumbnail_url }}" width="144" height="108" />
  </a>
  <span class="title">
    <a href="{{ settings.ROOT_URL }}/projects/{{ project.pk }}/">{{ project.fields.title }}</a>
  </span>
  <span class="owner" >
      
        
            {% trans 'by' %} <a href="{% url profile_detail project.fields.creator.username %}">{{ project.fields.creator.username }}</a>
        
      
  </span>
  
</li>
<!-- end templates/carousel/project-thumb.html -->